@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Indie+Flower&family=Orbitron&family=Philosopher:wght@700&family=Rubik+Microbe&family=Rubik+Wet+Paint&family=Syncopate&family=Zen+Loop&display=swap');

body {
    background: #4ECDC4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;
    height: 100vh;
    overflow: hidden;
    font: 3vw/100vh "Finger Paint";
    color: transparent;
}

.logo0 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    left: 32%;
    transform: translate(-15%,-50%);
    font-family: 'Syncopate', sans-serif;
}
.logo1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20%;
    left: 32%;
    transform: translate(-15%,-50%);
    font-family: 'Rubik Wet Paint', cursive;
}
.logo2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30%;
    left: 32%;
    transform: translate(-15%,-50%);
    font-family: 'Rubik Microbe', cursive;
}
.logo3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
    left: 32%;
    transform: translate(-15%,-50%);
    font-family: 'Zen Loop', cursive;
}
.logo4 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-15%,-50%);
    
}
.logo5 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60%;
    left: 32%;
    transform: translate(-15%,-50%);
    font-family: 'Philosopher', sans-serif;
}
.logo6 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70%;
    left: 32%;
    transform: translate(-15%,-50%);
    font-family: 'Orbitron', sans-serif;
}
.logo7 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 80%;
    left: 32%;
    transform: translate(-15%,-50%);
    font-family: 'Indie Flower', cursive;
}

.cap0 {
    width: 3%;
    position: absolute;
    top: 8%;
    left: 13%;
    animation: play 2s ease-in forwards;
}

.cap1 {
    width: 3%;
    position: absolute;
    top: 19%;
    left: 30.5%;
    animation: play 2s ease-in forwards;
}
.cap2 {
    width: 3%;
    position: absolute;
    top: 28%;
    left: 13%;
    animation: play 2s ease-in forwards;
}
.cap3 {
    width: 3%;
    position: absolute;
    top: 38%;
    left: 27%;
    animation: play 2s ease-in forwards;
}
.cap4 {
    width: 3%;
    position: absolute;
    top: 48%;
    left: 13%;
    animation: play 2s ease-in forwards;
}
.cap5 {
    width: 3%;
    position: absolute;
    top: 58%;
    left: 30%;
    animation: play 2s ease-in forwards;
}
.cap6 {
    width: 3%;
    position: absolute;
    top: 68%;
    left: 13%;
    animation: play 2s ease-in forwards;
}
.cap7 {
    width: 3%;
    position: absolute;
    top: 78%;
    left: 27%;
    animation: play 2s ease-in forwards;}


/* @keyframes play {
    0%{
        transform: translateX(-280px);
    }
    100%{
        transform: translateX(0);
    }
} */

.shadow {
    position: absolute;
    top: 80%;
    backdrop-filter: blur(20px);
    width: 20%;
}

span {
    display: inline-block;
    text-shadow: 0 0 0 whitesmoke;
    -webkit-animation: smoky 1.8s .2s both;
            animation: smoky 1.8s .2s both;
  }
  
  span:nth-child(even) {
    -webkit-animation-name: smoky-mirror;
            animation-name: smoky-mirror;
  }
  
  @-webkit-keyframes smoky {
    60% {
        transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
      text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
      
    }
    to {
        text-shadow: 0 0 0px whitesmoke;
        opacity: 1;
    }
  }
  
  @keyframes smoky {
    60% {
        transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
      text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
      
    }
    to {
        text-shadow: 0 0 0px whitesmoke;
        opacity: 1;
    }
  }
  @-webkit-keyframes smoky-mirror {
    60% {
        transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
      
    }
    to {
        text-shadow: 0 0 0px whitesmoke;
        opacity: 1;
    }
  }
  @keyframes smoky-mirror {
    60% {
        transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
      
    }
    to {
        text-shadow: 0 0 0px whitesmoke;
        opacity: 1;
    }
  }
  span:nth-of-type(1) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  
  span:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  
  span:nth-of-type(3) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  
  span:nth-of-type(4) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  
 